WPP_CONNECT_BASE_IMAGE=wppconnect/server-cli:latest
WPP_CONNECT_SERVER_VERSION=2.9.0
WPP_CONNECT_IMAGE=inkapp/wppconnect:2.9.0
WPP_CONNECT_PORT=21465

# Seguranca/API
WPP_CONNECT_SECRET_KEY=troque-este-segredo
WPP_CONNECT_TOKEN=troque-este-token

# Sessao do WhatsApp
WPP_CONNECT_SESSION=inkapp
